
.dclist{
    line-height: 30px;
}
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }
.clearfix {
    height: 30px;
    text-align: left;
      h1{
    margin: 0;
  }
}
  .box-card {
    width: 100%;
    height: 100%;
  }
.from,.buttom{

    text-align: left;
}
.buttom{
  display: flex;
}
.block{
    padding-top: 10px;
    background-color: #fff;
}
.el-button{
  margin-right: 20px;
}